<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
    <link rel="stylesheet" href="../../assets/css/reset.css">
    <link rel="stylesheet" href="../../assets/css/mysite.css">
    
</head>
<body>
    <div id = "wrap">
        <div id = "header" class = "clearfix">
            <h1>My Site</h1>


            <ul class = "clearfix">
                <li><a href = "../user/loginform.html">로그인</a></li>
                <li><a href = "../user/account.html">회원가입</a></li>
            </ul>
            
        </div>

        <div id = "nav" >
            <ul class = "clearfix">
                <li>게시판</li>
                <li>문의사항</li>
                <li>나문희</li>
                <li>문희는 포도가 먹고시푼뎅</li>
            </ul>
        </div>

        <div id = "contents2" class="clearfix">
            <div id = "aside">
                <h2>게시판</h2>

                <ul>
                    <li>일반게시판</li>
                    <li>댓글게시판</li> 
                </ul>
            </div>
            
            <div id = "main">
                    <h2>게시판</h2>
                    <ul>
                        <li>홈</li>
                        <li>게시판</li>
                        <li>일반게시판</li>
                    </ul>
            </div>

            <div id = "search">
                <input type="search" id="search" name ="" value ="">
                <button type="submit">검색</button>
            </div>
        </div>


        <div id = "footer">
            <p>
                Copyright &#169; 2024 김유찬. All rights reserved
            </p>
           
        </div>

    </div>
    

</body>
</html>