<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
    <link rel="stylesheet" href="../../assets/css/reset.css">
    <link rel="stylesheet" href="../../assets/css/mysite.css">
    
</head>
<body>
    <div id = "wrap">
        <div id = "header" class = "clearfix">
            <h1>My Site</h1>


            <ul class = "clearfix">
                <li><a href = "../user/loginform.html">로그인</a></li>
                <li><a href = "../user/account.html">회원가입</a></li>
            </ul>
            
        </div>

        <div id = "nav" >
            <ul class = "clearfix">
                <li>게시판</li>
                <li>문의사항</li>
                <li>나문희</li>
                <li>문희는 포도가 먹고시푼뎅</li>
            </ul>
        </div>

        <div id = "contents2" class="clearfix">
            <div id = "aside">
                <h2>게시판</h2>

                <ul>
                    <li>일반게시판</li>
                    <li>댓글게시판</li> 
                </ul>
            </div>
            
            <div id = "main" >
                    <h2>게시판</h2>
                    <ul>
                        <li>홈</li>
                        <li>게시판</li>
                        <li>일반게시판</li>
                    </ul>
            </div>

            <div id = "search" >
                <input type="search" id="searchBlock" name ="" value ="">
                <button type="submit" id="searchBtn">검색</button>
            </div>

            <div id = "texts">
                <table>
                    <thead>
                        <tr>
                            <th>번호</th>
                            <th>제목</th>
                            <th>작성자</th>
                            <th>작성일</th>
                            <th>조회수</th>
                            <th>관리 </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>123</td>
                            <td><a href="#">게시판 게시글입니다.</a></td>
                            <td>admin</td>
                            <td>2021-01-01</td>
                            <td>100</td>
                            <td>[삭제]</td>
                        </tr>
                        <tr>
                            <td>124</td>
                            <td><a href="#">게시판 게시글입니다.</a></td>
                            <td>admin</td>
                            <td>2021-01-02</td>
                            <td>200</td>
                            <td>[삭제]</td>
                        </tr>
                        <tr>
                            <td>125</td>
                            <td><a href="#">게시판 게시입니다.</a></td>
                            <td>admin</td>
                            <td>2021-01-03</td>
                            <td>300</td>
                            <td>[삭제]</td>
                        </tr>
                        <tr>
                            <td>125</td>
                            <td><a href="#">게시판 게시입니다.</a></td>
                            <td>admin</td>
                            <td>2021-01-03</td>
                            <td>300</td>
                            <td>[삭제]</td>
                        </tr>
                        <tr>
                            <td>125</td>
                            <td><a href="#">게시판 게시입니다.</a></td>
                            <td>admin</td>
                            <td>2021-01-03</td>
                            <td>300</td>
                            <td>[삭제]</td>
                        </tr>
                        <tr>
                            <td>125</td>
                            <td><a href="#">게시판 게시입니다.</a></td>
                            <td>admin</td>
                            <td>2021-01-03</td>
                            <td>300</td>
                            <td>[삭제]</td>
                        </tr>
                    </tbody>
                </table>    
            </div>

            <div class = "pages">
                <ol>
                    <li><a href="#">Prev</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">6</a></li>
                    <li><a href="#">7</a></li>
                    <li><a href="#">8</a></li>
                    <li><a href="#">Next</a></li>
                </ol>
            </div>

            <div id = "btn">
                <input id = "writebtn" type="button" value="글쓰기">
            </div>

            
        </div>


        <div id = "footer">
            <p>
                Copyright &#169; 2024 김유찬. All rights reserved
            </p>
           
        </div>

    </div>
    

</body>
</html>