@charset "UTF-8";

#wrap{
    margin: 0px auto;
    width: 100%;
    height: auto;
}

h1 {
    color: #79b30b;
    font-size: 35px;
    font-weight: 900;
    float: left;
    margin-left: 10px
}

#header{
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid #dddddd;
}

#header ul{
    float:right;
    margin-block: 10px;
    margin-right: 10px;
    
}

#header ul>li {
    border: 1px solid black;
    float: left;
    padding: 3px 5px;
    margin-left: 10px;
    font-size: 10px;
    border-radius:  10px;;
    background-color: hotpink;
}

#nav ul{
    padding-block: 10px;
    border-bottom: 1px solid #dddddd;
}
#nav ul>li{
    width: 25%;
    box-sizing: border-box;
    float: left;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

#wrap #footer {
    background-color: lightgray;
    text-align: center;
    padding-block: 20px;
}

#footer p{
    font-size: 15px;
}

#contents{
    padding: 20px 30px;
}

#contents img{
    width: 40%;
    height: auto;
    margin-right: 10px;
    margin-left: 10px;
    float: left;
}

#contents #conP{
    font-size: 18px;
}

#contents2 {
    padding: 30px 20px;
    overflow: hidden; /* Float 문제로 인해 부모 요소가 자식 요소를 포함하도록 */
}

#contents2 #aside {
    float: left;
    width: 20%;
    height: 400px;
    margin-right: 1.2%; /* 여백 조정 */
    box-sizing: border-box;
    border: 1px solid black;
    overflow: hidden;
}

#aside h2{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
    margin-bottom: 10px;
    background-color: lightgrey;
}



#contents2 #aside ul>li{
    padding: 5px;
    text-align: center;
    border: 1px solid black;
    margin-bottom: 5px;
    font-size: 12px;

}

#contents2 #main {
    float: left;
    width: 78.8%; /* 이전에 정의된 값을 유지합니다. */
    box-sizing: border-box;
    height: 47px;
    border-bottom: 1px solid lightgray;
    overflow: hidden;
}

#contents2 #main h2{
    float:left;
    width: 80%;
    font-size: 20px;
    padding-top: 20px;

}

#contents2 #main ul{
    float:left;
    width:20%;
    color: lightgrey;
    font-size: 10px;
    padding-top: 28px;

}

#contents2 #main ul>li{
    float:left;
    color: lightgrey;
    font-size: 13px;
}

#contents2 #main ul>li::after{
    content: " >";

}

#contents2 #main ul>li:last-child::after{
    content: "";
}

#contents2 #search {
    float: right;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

#contents2 table{
    width: 78.8%;
    font-size: 12px;
}

#contents2 table th{
    padding-block: 10px;
    text-align: center;
    background-color: lightgrey;
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
}

#contents2 table td{
    padding-block: 10px;
    text-align: center;
    border-bottom: 1.5px solid black;
}

#contents2 .pages ol {
    width: 78.8%;
    text-align: center; 
    padding: 0;
    margin-left: 200px;
    list-style-type: none; 
}

#contents2 .pages ol>li {
    display: inline-block; /* 리스트 아이템들을 한 줄로 배치 */
    margin-right: 10px;
    font-size: 12px;
}

#contents2 .pages ol>li:nth-child(7) {
    text-decoration: underline;
}

#btn{
    float:right;
}

#btn #writebtn{
    padding: 7px 7px;
}



