<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MySite</title>
    <link rel="stylesheet" href="../../assets/css/reset.css">
    <link rel="stylesheet" href="../../assets/css/mysite.css">
</head>

<body>
    <div id="wrap" >
        <div id = "header" class = "clearfix">
            <h1>My Site</h1>


            <ul class = "clearfix">
                <li><a href = "../user/loginform.html">로그인</a></li>
                <li><a href = "../user/account.html">회원가입</a></li>
            </ul>
            
        </div>

        <div id = "nav" >
            <ul class = "clearfix">
                <li>지민이형</li>
                <li>지민이형</li>
                <li>지민이형</li>
                <li>지민이형</li>
            </ul>
        </div>


        <div id = "contents" class ="clearfix">
            <img id = "jung" src = "../../assets/images/jung.jpg" alt = "정우샹">
            <p id="conP">
                여름이었다.<br>
                
            </p>
            
        </div>


        <div id = "footer">
            <p>
                Copyright &#169; 2024 김유찬. All rights reserved
            </p>
           
        </div>
    </div>
    
</body>
</html>